# EditorConfig is awesome: http://EditorConfig.org

# Top-most EditorConfig file
root = true

# Default for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
#trim_trailing_whitespace = true

# JavaScript
# https://github.com/airbnb/javascript
[*.{js,json,jsx}]
indent_size = 2
indent_style = space
